* { margin: 0; padding: 0; }
body { overflow: hidden; }
#wall {
	background: #fff;
	-webkit-column-gap: 0;
	top: 0; left: 0;
	position: absolute;
	z-index: -99px;
}
#wall img {
	border: 0;
	float: left;
	height: 48px;
	width: 48px;
	z-index: -98;
}
#primary {
	background: #333;
	bottom: 170px;
	box-shadow: 0 0 15px 5px #000;
	color: #fff;
	font-family: monospace;
	height: 48px;
	left: 0;
	padding-left: 68px;
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: 99;
}
#primary img {
	left: 10px;
	position: absolute;
	top: 0;
}
#primary h2, #primary p {
	display: inline;
	font-size: 14px;
	line-height: 48px;
}
#fleur, #logo {
	bottom: 10px;
	position: absolute;
	z-index: 99;
}
#fleur { height: 148px; left: 10px; }
#logo { right: 10px; }